[submodule "libultraship"]
	path = libultraship
	url = https://github.com/robin994/libultraship-vita.git
	branch = vita-rinne-merge
[submodule "torch"]
	path = torch
	url = https://github.com/robin994/Torch.git
	branch = vita-compat-fixes
[submodule "decomp"]
	path = decomp
	url = https://github.com/robin994/ssb-decomp-re-vita.git
	branch = vita-compat-fixes
